.chat-container {

    min-height: 100vh;

    .users-box {
        background: white;
        height: 100%;
        overflow: auto;
        border-right: 1px solid #dbdbdb;
    }

    .box-header {
        border-bottom: 1px solid #e7e7e7;

        .message-tabs {
            display: flex;


            .tab {
                flex: 1;
                text-align: center;
                padding: 10px;
                cursor: pointer;

                &.active {
                    border-bottom: 2px solid var(--color-primary);
                    color: var(--color-primary);
                }
            }
        }

        .message-search-box {
            padding: 10px;
            display: flex;
            align-items: center;
            position: relative;
        }

        .message-search-input {
            flex-grow: 1;
            padding: 10px 30px;
            background: rgb(237, 243, 248);
            border: none;
            font-size: 15px;
            border-radius: 4px;
        }

        .message-search-box {
            svg {
                position: absolute;
                left: 18px;
            }


            .clear-message {
                right: 18px;
                left: unset;
            }
        }

    }

    .box-title {
        font-weight: 500;
        margin: 0;
    }

    .new-chat {
        font-size: 23px;
        cursor: pointer;
    }

    ul.users-list {
        list-style: none;
        padding: 0;

        li {
            padding: 20px;
            display: flex;
            gap: 12px;
            align-items: center;
            cursor: pointer;

            &.active {
                background: #d3a11f30;
            }

            img {
                border-radius: 50%;
            }

            .user-message {
                font-size: 13px;
                color: rgb(125, 129, 132);
            }


            .username {
                color: rgb(12, 20, 31);
                font-size: 15px;
                font-weight: 500;
            }


            .message-time {
                color: rgb(125, 129, 132);
                font-size: 10px;
                align-self: flex-start;
                display: flex;
                align-items: center;

                &.unread:after {
                    content: "";
                    width: 7px;
                    height: 7px;
                    border-radius: 10px;
                    background: var(--color-primary);
                    display: block;
                    margin-left: 7px;
                }
            }

            .user-details {
                flex-grow: 1;
            }
        }

    }


    .chat-box {
        background: #fff;
        position: relative;
    }

    .chat-area {
        overflow: auto;
        height: 100%;
        padding: 20px 15px 70px 20px;
    }


    .chat-item {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;

        &.self {
            margin-left: auto;

            .details {
                text-align: right;
            }
        }

        .chat-avatar {
            border-radius: 50px;
        }

        .sender {
            font-weight: 500;
        }

        .text {
            margin-top: 10px;
            font-size: 15px;
        }


        .details img {
            border-radius: 50px;
            margin-right: 10px;
        }

        span.time {
            font-size: 13px;
            font-weight: 400;
            color: rgb(125, 129, 132);
            margin-left: 8px;
        }
    }

    .chat-footer {
        position: absolute;
        display: flex;
        align-items: center;
        width: 100%;
        padding: 5px 15px;
        margin: auto;
        border-top: 1px solid gainsboro;
        bottom: 0;


        input.message {
            border-radius: 50px;
            border: none;
        }

        .user-avatar img {
            border-radius: 50%;
        }

        button.send-message {
            color: var(--color-primary);
            font-size: 20px;
            transform: rotateZ(313deg);
        }

        .message-input {
            flex: 1;
        }

        input.message:focus {
            box-shadow: none;
        }

    }

}