.community-title {
    color: white;
    font-family: 'Alta';
    font-size: 61px;
    text-align: center;
    font-weight: bold;
    min-height: 73.2px;
}

@media (max-width: 767px) {
    .community-title {
        font-size: 32px !important;
    }
}

.community-subtitle {
    font-size: 20px;
    color: white;
    text-align: center;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 24px;
}

.post-form {
    background: white;
    padding: 20px;
    border-radius: 8px;
}

.status-box {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-avatar img {
    height: 40px;
    width: 40px;
    border-radius: 40px;
}

.status-box .textarea {
    flex: 1;
}

.status-input {
    background: rgb(250, 250, 250);
    border-radius: 50px;
    resize: none;
    border: none;
    font-size: 16px;
}

.status-input:focus {
    box-shadow: none;
    border: 2px solid var(--color-primary);
}

.divider {
    width: 100%;
    height: 1px;
    background: #dddddd;
    margin: 20px 0;
}

.status-options {
    display: flex;
    gap: 15px;
}

.status-options .item {
    font-size: 20px;
    padding: 6px;
    border-radius: 8px;
    transition: all 0.2s ease;
    display: flex;
}

.status-options .item:hover {
    background: #d3a11fab;
}


.wall-options {
    background: #eeeeee;
    border-radius: 8px 8px 0 0;
    padding: 15px 25px;
    border-bottom: 1px solid #f6f6f6;
    display: flex;
    gap: 10px;
}

.community-sidebar {
    background: white;
    border-radius: 5px;
}

.sidebar-menu {
    padding: 10px;
}

.sidebar-menu .menu-container {
    list-style: none;
    padding: 0;
}

.sidebar-menu li.menu-item {
    margin-bottom: 10px;
}

.sidebar-menu li.menu-item a {
    align-items: center;
    display: flex;
    gap: 5px;
    text-decoration: none;
    color: black;
    width: 100%;
    padding: 5px 10px;
    border-radius: 5px;
    transition: all 0.2s ease-in;
}

.sidebar-menu li.menu-item:hover a,
.sidebar-menu li.menu-item a.active {
    background: var(--color-primary);
    color: white;
}

.menu-item .count {

    background: var(--color-primary);
    border-radius: 20%;
    padding: 2px 6px;
    margin-left: 7px;
    font-size: 10px;
    display: inline-block;
    color: white;
}

.postlist {
    margin: 0;
}

.post-item {
    background: white;
    border-radius: 8px;
    padding: 10px;
    margin-bottom: 30px;
}

.post-header {
    display: flex;
    gap: 10px;
    align-items: center;
}

img.post-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.post-meta {
    flex: 1;
}

.post-username {
    font-weight: 500;
}

.post-time {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    color: rgb(125, 129, 132);
    font-size: 10pt;
    align-items: center;
}

.post-time svg {
    font-size: 14pt;
    margin-right: 5px;
}

.post-time span {
    font-size: 10pt;
}

.post-action {
    /* cursor: pointer; */
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 12px;
    font-weight: 500;
    background: rgb(249 246 246);
    border-radius: 16px;
    padding: 6px 8px 6px 8px;
    position: relative;
    user-select: none;
    -moz-user-select: none;
}

.post-action img {
    cursor: pointer;
}

.post-action.post-comments:hover {
    color: #d3a11fab;
}

.post-action.post-comments.active {
    color: #d3a11fab;
}

.post-action.post-comments.active:hover {
    color: #000;
}

.post-action.post-likes:hover {
    color: #d3a11fab;
}

.post-action.post-likes.active {
    color: #d3a11fab;
}

.post-action.post-likes.active:hover {
    color: #000;
}

.postmodal-header {
    position: relative;
}

.post-modal-close {
    position: absolute;
    right: 0px;
    top: 0px;
    color: #000;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
}

.post-modal-close:hover {
    color: #d3a11fab;
}

.post-modal-close svg {
    width: 2em;
    height: 2em;
}

.action-dropdown ul {
    list-style: none;
    border: 1px solid #f1f1f1;
    padding: 10px;
    position: absolute;
    background: white;
    border-radius: 5px;
    width: 120px;
    font-size: 15px;
}

.action-dropdown li:hover {
    color: var(--color-primary);
}

.action-dropdown {
    transition: all 0.3s ease;
    position: absolute;
    left: calc(calc(100% + 75px) * -1);
    top: 15px;
}

.post-content {
    margin-top: 20px;
}

.post-content .post-body {
    font-size: 14pt;
}

.post-body img {
    border-radius: 5px;
    width: 100%;
}

.post-actions {
    position: relative;
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.post-action svg {
    font-size: 18px;
}

.post-action svg path {
    stroke-width: 50px;
}

.post-action:hover {
    background: rgb(239, 240, 240);
}


.comment-input>div:empty:before {
    content: attr(placeholder);
    display: block;
    color: #858585;
}

.comment-input>div {
    color: rgb(13, 26, 38);
    font-weight: 400;
    padding: 6px 12px;
    background: rgb(250, 250, 250);
    border-radius: 50px;
    resize: none;
    border: none;
    font-size: 17px;
    cursor: text;
    border: 2px solid white;
}

.comment-input>div:focus-visible {
    outline: none;
    border: 2px solid var(--color-primary);
}

.comment-input {
    margin-bottom: 20px;
}

.title-small {
    font-size: 16px;
}

.comment {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

.comment-avatar img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.comment-meta p.username {
    margin: 0;
    color: black;
    height: 45px;
    display: flex;
    align-items: center;
}

.comment-meta p.username a {
    color: black;
    font-family: 'Jost', Arial, sans-serify;
    font-size: 16px;
    font-weight: 500;
    line-height: 18px;
}

.comment-meta p.username a:hover {
    color: var(--color-primary);
}

.comment-meta div.content {
    color: #6c6c6c;
    font-weight: 400;
    font-size: 14pt;
    line-height: 24px;
}

.comments {
    margin-left: 25px;
    margin-top: 25px;
    position: relative;
}

.reply-section {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 14px;
    background: rgb(249 246 246);
    border-radius: 16px;
    padding: 5px 15px;
    width: -moz-fit-content;
    width: fit-content;
    transition: all 0.2s ease;
}

.reply-section:hover {
    background: rgb(239, 240, 240);
}

.all-comments-button {
    text-align: center;
    color: var(--color-primary);
    font-size: 15px;
    transition: all 0.2s ease;
    cursor: pointer;
    margin: 10px;
}

.all-comments-button span:hover {
    background: var(--color-primary);
    color: white;
}

.all-comments-button span {
    padding: 5px 10px;
    border-radius: 10px;
    transition: all 0.2s ease;
}

.restricted-creatives-only {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin-top: 50px;
}

.restricted-message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 20px;
    background-color: #fff;
    color: var(--color-primary);
    border-radius: 10px;
    min-height: calc(100vh - 544px);
}

.restricted-message h4 {
    text-align: center;
}

.restricted-message h5 {
    text-align: center;
    color: #000;
}

.registration-success-message {
    position: fixed;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: var(--color-primary);
    color: #fff;
    font-weight: normal;
    font-size: 20px;
    display: block;
    max-width: 600px;
    width: 90%;
}

.registration-success-message .close {
    position: absolute;
    right: 25px;
    top: 10px;
    cursor: pointer;
}

.num-unit {
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 0;
    width: max-content;
    height: 20px;
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
    border-radius: 10px;
    cursor: pointer;
    padding: 3px 3px 3px 2px;
    min-width: 20px;
}

.num-unit:hover {
    background-color: var(--color-primary);
    color: #000;
    border: 1px solid var(--color-primary);
}

.post-action.post-reactions.active {
    background-color: #dddddd;
}

.post-actions .post-reaction-action-dropdown {
    position: absolute;
}

.post-actions .post-reaction-dropdown,
.post-actions .post-reaction-action-dropdown {
    left: 0px;
    bottom: 55px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    column-gap: 5px;
    align-items: center;
    padding: 5px;
    /* border: 1px solid lightgray; */
    z-index: 2;
    cursor: pointer;
    user-select: none;
    -moz-user-select: none;
    min-width: max-content;
    min-height: 45px;
}

.post-actions .post-reaction-action-dropdown .image-container {
    padding: 5px;
    border-radius: 10px;
}

.post-actions .post-reaction-action-dropdown .image-container:hover {
    background-color: #eeeeee;
}

.post-actions .post-reaction-action-dropdown .image-container.active {
    background-color: #dddddd;
}

.post-actions .post-reaction-dropdown .reaction-by img {
    padding: 0;
    margin: 0;
    width: 30px;
    height: 30px;
    border-radius: 30px;
}

.post-actions .post-reaction-dropdown .reaction-by img {
    border: 2px solid lightgray;
    flex: 0;
}

.post-actions .post-reaction-dropdown .reaction-by img:hover {
    border: 2px solid var(--color-primary);
}

.post-actions .post-reaction-dropdown .reactions-total {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    margin-top: 3px;
    margin-left: 5px;
    font-weight: 500;
    font-size: 12px;
    color: gray;
    font-family: "JOST", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

.post-actions .post-reaction-dropdown .reactions-total:hover {
    color: var(--color-primary);
}

.comments .comment {
    position: relative;
}

.comments .comment .post-action.comments {
    position: absolute;
    top: -10px;
    right: 0px;
}

.user-slug {
    color: #000;
}

.user-slug:hover {
    color: var(--color-primary);
}

.postmodal-footer {
    display: flex;
    flex-direction: row;
}

.postmodal-footer .postmodal-offensive-words {
    margin-right: 10px;
    flex: 1;
}

.postmodal-footer .postmodal-offensive-words .message {
    padding: 10px;
    border-radius: 5px;
    background-color: pink;
    color: darkred;
    font-family: "JOST", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 14pt;
    font-weight: 500;
    line-height: 1;
}

.postmodal-footer .postmodal-action {
    flex: 0;
    align-self: flex-end;
}

.postmodal-editor {
    padding: 10px;
    border: 1px solid lightgray;
    width: 100%;
    height: 100%;
    max-height: 230px;
    overflow: auto;
}

.postmodal-editor:focus {
    border: 1px solid darkgray;
}

.back-to-top {
    color: var(--color-primary);
    text-align: right;
}

.back-to-top svg {
    width: 50px;
    height: 50px;
}

.group-visibility {
    display: flex;
    column-gap: 10px;
    align-items: center;
    margin: 10px 0px;
}

.group-visibility select {
    width: 150px;
    padding: 10px;
    border: 1px solid lightgray;
}

.group-visibility select:focus {
    border: 1px solid gray;
}

.group-image-to-upload {
    width: 75px;
    min-width: 75px;
    max-width: 75px;
    height: 75px;
    min-height: 75px;
    max-height: 75px;
    object-fit: cover;
    border: 2px solid var(--color-primary);
}

.groups-header {
    display: flex;
}

.friends-header .post-form,
.groups-header .post-form {
    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    width: 100%;
    margin-bottom: 20px;
}

.edit-group .postmodal-action {
    display: flex;
    column-gap: 10px;
}

.friends-header-links {
    flex-wrap: wrap;
}

.post-content a {
    color: var(--color-primary) !important;
}

.post-content a:hover {
    color: #000 !important;
}

h2.epr-emoji-category-label {
    backdrop-filter: unset !important;
}

.page-groups .groups-header .btn {
    display: flex;
    align-items: center;
}

.community-subtitle span,
.community-subtitle strong,
.community-subtitle {
    color: #fff !important;
}

.item-list .item-content p {
    margin-bottom: 0;
}

.comment-preview {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden !important;
    margin-bottom: 10px !important;
}

@media (max-width: 1200px) {
    .div_row .menu_left {
        width: 20%;
    }

    .div_row .div_content_center {
        width: 50%;
    }

    .div_row .sidebar_right {
        width: 30%;
    }

    .div_row .div_content-right {
        width: 80%;
    }

    .sidebar-menu li.menu-item a {
        font-size: 14px;
    }
}

.mobile-displayed {
    display: block;
}

.mobile-hidden {
    display: none;
}

.page-community .postist {
    margin: 0px;
}

@media (min-width:993px) {
    .mobile-displayed {
        display: none;
    }

    .mobile-hidden {
        display: block;
    }

    .page-community .postlist {
        margin: 30px 0px;
    }
}

@media (max-width:992px) {

    .page-groups .groups-header .btn span,
    .page-groups .groups-header .btn {
        display: block;
    }

    .page-groups .search-bar {
        width: 75%;
    }

    .page-groups .search-btn {
        width: 25%;
    }

    .div_row .menu_left {
        width: 100%;
    }

    .div_row .div_content_center {
        width: 100%;
        /* margin-top: 20px;
        margin-bottom: 20px; */
    }

    .div_row .sidebar_right {
        width: 100%;
    }

    .div_row .div_content-right {
        width: 100%;
    }

    .item.new-member-widget .item-industry-experience {
        padding-left: 10px;
    }

    .sidebar-menu li.menu-item a {
        padding: 5px;
    }

}

@media (max-width:767px) {

    .groups-header .post-form {
        overflow: auto;
    }

    .page-groups .groups-header .btn {
        min-width: 110px;
    }

    .page-groups .search-bar {
        width: 65%;
    }

    .page-groups .search-btn {
        width: 35%;
    }

    .community-title,
    .community-subtitle {
        padding: 0px 15px;
        text-align: center !important;
    }

    .community-subtitle span {
        text-align: center !important;
    }
}

.post-reactions-stats-container {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 0px 5px;
}

.post-reactions-stats-container img {
    width: 22px;
    height: 22px;
    object-fit: contain;
    margin-top: -2px;
}

.post-reactions-stats-container span {
    font-family: 'Jost';
    font-size: 12pt;
}

.post-reactions-stats-container .post-reactions-stats-item {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 3px;
}

.post-reactions-stats-container .post-reactions-stats-item .reaction-by-list {
    display: flex;
    flex-direction: column;
    max-height: 500px;
    width: 200px;
    overflow: auto;
    position: absolute;
    bottom: 30px;
    left: -10px;
    background-color: lightgray;
    color: #000;
    border: 1px solid lightgray;
    border-radius: 3px;
    padding: 5px;
    z-index: 2;
    gap: 5px
}

.post-reactions-stats-container .post-reactions-stats-item .reaction-by-list span {
    font-size: 10pt;
}

.post-reaction-dropdown .num-unit {
    font-size: 9pt;
    /* position: absolute;
    left: -10px;
    bottom: 15px; */
    z-index: 1;
}

.post-reactions-stats-container .post-reactions-stats-item a {
    color: #000;
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 5px;
}

.post-reactions-stats-container .post-reactions-stats-item a img {
    width: 30px;
    height: 30px;
    object-fit: cover;
    border-radius: 100%;
}

.post-reactions-stats-container .post-reactions-stats-item a:hover {
    color: #d3a11f;
}

img.post-image {
    cursor: pointer;
}

img.post-image.full-width {
    width: 100% !important;
    min-width: 100% !important;
    height: auto !important;
}

.post-images .break {
    flex-basis: 100%;
    height: 0;
}

.each-slide-effect>div {
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    height: calc(100vh - 110px);
}

.each-slide-effect span {
    padding: 20px;
    font-size: 20px;
    background: #efefef;
    text-align: center;
}

.slide-container {
    position: relative;
    width: 100%;
    direction: ltr;
}

.image-picker.image-slider .post-modal {
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

.image-picker.image-slider .image-picker-body {
    background-color: #000;
    justify-content: start;
}

.image-picker.image-slider .image-picker-body button.nav.default-nav {
    background-color: #d3a11f;
    width: 50px;
    height: 50px;
}

.image-picker.image-slider .image-picker-body button.nav.default-nav svg:hover {
    fill: #fff;
}

.image-picker.image-slider .image-picker-body button.nav.default-nav[data-type="prev"] {
    padding-right: 3px;
}

.image-picker.image-slider .image-picker-body button.nav.default-nav[data-type="next"] {
    padding-left: 7px;
}

.image-picker.image-slider .image-picker-body .mobile-image {
    width: calc(100vw - 20px);
    margin: 0px 0px 10px 0px;
    padding: 0px;
}

.mobile-on {
    display: none;
}

.mobile-off {
    display: block;
}

@media (orientation: portrait) and (max-width:767px) {
    .mobile-on {
        display: block;
    }

    .mobile-off {
        display: none;
    }
}

.post-actions {
    display: flex;
    flex-direction: column;
}

.post-action-reactions-comments-contianer {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.post-reaction-dropdown {
    width: max-content;
}