.site-logo img {
    width: 93%;
}

a.site-logo {
    min-width: 200px;
    display: inline-block;
}

.btn-showmenu>* {
    background-color: #202124;
    display: inline-block;
    height: 2px;
    width: 20px;
    margin: 3px 0;
}

.btn-showmenu .inner2 {
    width: 25px;
}

.btn-showmenu .inner3 {
    width: 15px;
}

a {
    color: var(--color-primary);
}

a:hover {
    color: black;
}

a.active>.menu-link-btn {
    color: var(--color-primary);
}

.nav-item {
    display: inline-block;
}

.right-menu .post-job-link {
    border-style: solid;
    border-width: 2px 2px 2px 2px;
    border-color: black;
    padding: 8px 10px !important;
    font-size: 1.1rem;
    border-radius: 8px;
    margin: 0px;
}

.right-menu .post-job-link:hover {
    background: black;
    color: var(--color-primary);
}

.right-menu .login-btn:hover {
    border: 2px solid black;
    background: var(--color-primary);
}

.right-menu .login-btn {
    padding: 6px;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 400;
    border-radius: 8px;
    border: 2px solid white;
    text-transform: none;
}

/* Drawer Styles */
.drawer-menu-link {
    color: rgb(151, 151, 151);
    font-size: 17px;
    padding: 12px 20px;
}

.drawer-menu-link:hover {
    color: white;
}

.drawer-box {
    padding: 20px;
}

.drawer-menu-link {
    color: rgb(151, 151, 151) !important;
    font-size: 17px;
    padding: 12px 20px;
}

.drawer-menu-link:hover {
    color: white;
}

.drawer-box {
    padding: 20px;
}

.social-box {
    padding: 0 20px;
    display: flex;
    gap: 15px;
    align-items: center;
}

.drawer-box .social {
    background: white;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    transition: background-color 0.5s ease;
    font-size: 21px;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.drawer-box .social:hover {
    background: var(--color-primary);
    color: white;
}


.has-children:hover .dropdown-menu {
    -webkit-transform: rotateX(0deg);
    -ms-transform: rotateX(0deg);
    -o-transform: rotateX(0deg);
    transform: rotateX(0deg);
    left: 0;
    overflow-y: auto;
}

.has-children:hover .dropdown-menu:not(.logged-in-dropdown) {
    border-top: 2px solid black;
    border-radius: 0;
}

.dropdown-menu {
    -webkit-transform-origin: 0 0;
    -moz-transform-origin: 0 0;
    -ms-transform-origin: 0 0;
    transform-origin: 0 0;
    -webkit-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
    -webkit-transform: rotateX(-90deg);
    -ms-transform: rotateX(-90deg);
    -o-transform: rotateX(-90deg);
    transform: rotateX(-90deg);
    left: 0;
}

ul.dropdown-list {
    list-style-type: none;
    min-width: 200px;
    padding: 0;
    padding-top: 15px;
}

ul.dropdown-list li a {
    text-decoration: none;
    font-size: 20px;
    color: black;
    width: 100%;
    padding: 7px 30px;
    display: block;
}

ul.dropdown-list li a:hover {
    color: var(--color-primary)
}

.has-children {
    position: relative;
}

ul.dropdown-list:before {
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent black;
    content: '';
    position: absolute;
    bottom: 100%;
    left: 40px;
}

.logged-in-menu {
    display: flex;
    align-items: center;
    gap: 15px;
    color: var(--color-primary);
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    font-weight: 300;
    cursor: pointer;
}

.logged-in-menu:hover {
    color: black;
}

.logged-in-dropdown {
    left: auto !important;
    right: 0px;
    top: 65px;
    padding: 15px;
    overflow: hidden;
}

.logged-in-dropdown .dropdown-list:before {
    content: none;
}

.logged-in-dropdown ul li a {
    padding: 8px 20px;
    border-radius: 8px;
}

.logged-in-dropdown ul li:hover a {
    background: var(--color-secondary);
}

.logged-in-dropdown ul {
    padding-top: 0;
    margin-bottom: 0px;
}

.btn.btn-dark {
    border: 2px solid black;
    background-color: black !important;
    color: white !important;
}

.btn.btn-dark:hover {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary) !important;
}


.btn.btn-silver {
    border: 2px solid silver;
    background-color: silver !important;
    color: white !important;
}

.btn.btn-silver:hover {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary) !important;
}

.btn.btn-gold {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary) !important;
    color: white !important;
}

.btn.btn-gold:hover {
    border: 2px solid silver;
    background-color: silver !important;
}

.menu-item {
    position: relative;
}

.menu-item .count {
    position: absolute;
    right: 10px;
}

.center-page {
    position: relative;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    min-width: 250px;
    min-height: 100px;
    align-items: center;
    justify-content: center;
    font-weight: 500;
    user-select: none;
}

.btn.btn-dark.btn-selected {
    border: 2px solid var(--color-primary);
    background-color: var(--color-primary) !important;
}

#reviews {
    padding: 20px 0px;
}

.rating-submitted {
    background-color: var(--color-primary);
    color: #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 10pt;
    display: flex;
    column-gap: 5px;
}

.rating-submitted svg {
    margin-top: 2px;
}

.btn-review {
    font-size: 12px;
    padding: 5px 15px;
}

textarea.form-control:focus {
    border: 1px solid gray;
}

@media (max-width: 539px) {
    .auth-modal .auth-body ul.role-tabs.nav.nav-tabs li {
        flex: unset !important;
        /* For Login / Register Buttons on separate rows on small screens */
    }
}

.scroll-button-span {
    background-color: #fff;
    width: 25px;
    height: 25px;
    display: block;
    position: absolute;
    left: 12px;
    top: 12px;
    z-index: -1;
}

.scroll-button:hover .scroll-button-span {
    background-color: #000;
}

.page-film-festival {
    height: auto;
    min-height: 100vh;
    color: #fff;
}

.d-fccc {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.d-fccr {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.d-fssc {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}

.d-fssr {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: row;
}

.d-fscc {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
}

.d-fscr {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: row;
}

.button-group {
    row-gap: 10px;
    column-gap: 10px;
}

.page-film-festival .film-festival-step {
    color: #fff;
    max-width: 90vw;
}

.page-film-festival .h1 {
    font-family: Alta;
    font-size: 60px;
    font-weight: 700;
    font-family: 'ALTA';
    letter-spacing: 0.2em;
}

.page-film-festival .h2 {
    font-family: 'Anton';
    font-size: 56px;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.02em;
}

.page-film-festival .btn-home {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 10px 20px;
}

.btn-wide {
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.page-film-festival .film-festival-enter {
    margin-top: 20px;
    cursor: pointer;
}

.page-film-festival .h3 {
    text-transform: uppercase;
    font-size: 21.5px;
    font-weight: 400;
    line-height: 1.15;
    letter-spacing: -0.05em;
}

.relative {
    position: relative;
}

.page-film-festival {}

.page-film-festival .film-festival-step.step-1 {
    max-width: 1000px;
}

.page-film-festival .film-festival-step.step-1 .favicon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-form {
    width: 50%;
    margin: 3em auto;
}

@media (max-width: 1023px) {
    .contact-form {
        margin: 3em 0px;
        width: 100% !important;
    }
}

@media (min-width: 767px) {
    .page-film-festival .film-festival-step.step-1 .favicon {
        position: absolute;
        right: 0px;
        top: 30px;
        justify-content: flex-end;
        max-width: fit-content;
    }

    .page-film-festival .film-festival-step.step-1 .favicon img {
        width: 80% !important;
        height: 80% !important;
    }
}

.page-film-festival .film-festival-step.step-3 {
    row-gap: 10px;
    column-gap: 10px;
}

.page-film-festival .film-festival-step.step-3 .h3 {
    margin: 10px 0px;
}

.page-film-festival .film-festival-step.step-2 .profile-edit-form {
    background-color: #fff;
    color: #000;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
}

.page-film-festival .page-title {
    color: var(--color-primary);
    text-transform: uppercase;
    text-align: center;
    font-size: 60px;
    font-weight: 400;
}

.input-required {
    color: red;
    font-weight: 500;
}

video {
    width: 100%;
    height: auto;
}

.page-film-festival .submission-form-upload {
    width: 100px;
    height: 100px;
    max-width: 100px;
    max-height: 100px;
    object-fit: contain;
    border: 1px solid black;
}

.page-film-festival video {
    min-width: 50vw;
    max-width: 100vw;
}

/* .nav-item a button {
    padding: 6px !important;
} */

.rdw-link-modal {
    left: unset !important;
    right: 35px !important;
    height: max-content !important;
}

.statistics.row>* {
    padding-left: 5px;
    padding-right: 5px;
}

nav ul.dropdown-list .list-item-text.j-fix {
    margin-left: 3px;
}

.tox.tox-tinymce {
    z-index: 0;
    min-height: 250px;
    height: 100% !important;
}

.error-text {
    color: red;
    font-weight: 900;
    font-size: larger;
}

.icon-message {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 20px;
    gap: 10px;
}

.icon-message .icon {
    cursor: pointer;
}

.icon-message .icon img {
    width: 18px !important;
    height: 18px !important;
}

.icon-message .message-container {
    display: none;
    align-items: center;
    background-color: #000;
    width: 100%;
    min-width: 100%;
    border-radius: 5px;
    overflow: hidden;
}

.icon-message .message {
    padding: 10px;
    color: #fff;
    font-weight: 500;
    font-size: normal;
    line-height: 1.5;
}

/* .icon-message:hover .message-container, */
.icon-message.show .message-container {
    display: flex;
    min-height: 140px;
}

.icon-message:hover .message {
    display: block;
}

.image-picker .icon-message {
    justify-content: flex-start;
    align-items: center;
}


.image-picker video {
    max-width: 500px;
}

.image-picker .circular-progress-with-label .circular-progress-typography {
    font-family: "JOST", BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    font-size: 18px;
    font-weight: 900;
}

.image-picker-body p {
    text-align: center;
}

@media (max-width: 375px) {
    .image-picker-body {
        justify-content: flex-start !important;
    }
}

.show-delayed {
    visibility: visible !important;
}

.agency-page-job-edit label,
.agency-page-profile label,
.creative-page-profile label,
.my-resume label {
    display: flex;
    position: relative;
    gap: 10px;
}

.agency-page-job-edit .icon-message .message-container,
.agency-page-profile .icon-message .message-container,
.creative-page-profile .icon-message .message-container,
.my-resume .icon-message .message-container {
    position: absolute;
    left: 0px;
    top: 35px;
    z-index: 2;
}

.agency-page-job-edit .icon-message .icon img,
.agency-page-profile .icon-message .icon img,
.creative-page-profile .icon-message .icon img,
.my-resume .icon-message .icon img {
    width: 20px;
    height: auto;
}

.page-messages .emoji-picker-container {
    display: block;
    position: relative;
}

.page-messages .chat-container .chat-footer aside.EmojiPickerReact.epr-main {
    top: unset !important;
    bottom: 25px !important;
    height: 350px !important;
    width: 300px !important;
    left: -30px;
}

.page-messages .emoji-exit {
    display: block;
    position: absolute;
    cursor: pointer;
    z-index: 2;
    top: -395px;
    left: 250px;
}

.show-more {
    color: #d3a11f !important;
    text-decoration: none !important;
    position: absolute;
    bottom: -5px;
    cursor: pointer;
}

.show-more:hover {
    color: #000 !important;
}

.show-more-container {
    display: flex;
    justify-content: end;
    position: relative;
}

.show-more-less-clickable {
    color: #d3a11f !important;
    text-decoration: none !important;
    cursor: pointer;
}

.show-more-less-clickable:hover {
    color: #000 !important;
}

.edited {
    margin-left: 10px;
    padding: 2px 7px;
    font-size: 8pt;
    line-height: 1.1;
    background-color: #d3a11f;
    color: #000;
    border-radius: 5px;
    cursor: default;
    user-select: none;
    -moz-user-select: none;
}

.chat-box .job-action a {
    width: 20px;
    height: 20px;
    line-height: 20px;
}

@media (max-width: 1024px) and (min-width: 900px) {
    .header_container {
        flex-direction: column !important;
    }

    .header_container .right-menu {
        flex-basis: 100%;
        max-width: 100%;
    }

    .header_container .left-logo {
        flex-basis: 50%;
        max-width: 50%;
    }

    .agency-dashboard-container {
        padding-top: 95px;
    }
}

@media (max-width: 440px) {

    .header_container .right-menu,
    .header_container .left-logo {
        width: 50%;
        max-width: 50%;
    }

    .left-logo a.site-logo {
        min-width: 100%;
    }
}

.logged-in-menu .username {
    width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.jobs-list-container .job-location.location {
    margin-right: 10px;
}

.jobs-list-container .job-location.location a {
    font-weight: 400;
}

.job-post-badge {
    font-size: 16px;
    font-weight: 500;
    background-color: #d6d6d6;
    color: #000;
    margin: 10px 10px 0px 0px;
    padding: 10px;
}

.job-post-badge.gold {
    background-color: #d3a11f;
    color: #fff;
}

.job-post-badge.red {
    background-color: red;
    color: #fff;
}

.agency-page-jobapplicants .job-post-badge {
    font-size: 12px;
    padding: 5px;
    line-height: 1em;
    font-weight: 500;
}

.agency-page-jobapplicants .btn.btn-gold.show-more-less {
    font-size: 12px;
    padding: 3px 5px;
    line-height: 1em;
    font-weight: 500;
}

.image-loader {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-loader .loader-image {
    position: absolute;
}

.video-upload-indicator {
    display: flex;
    align-items: center;
    column-gap: 10px;
    margin: 10px 0px;
}

.video-upload-indicator h6 {
    line-height: 1;
    margin: 0;
}

