.site-logo img{
    width: 100%;
}

.btn-showmenu>* {
    background-color: #202124;
    display: inline-block;
    height: 2px;
    width: 20px;
    margin: 3px 0;
}

.btn-showmenu .inner2 {
    width: 25px;
}

.btn-showmenu .inner3 {
    width: 15px;
}