.username {
    color: var(--color-primary);
    font-size: 22px;
    font-weight: 500;
}

.user-profile-header {
    display: flex;
    gap: 15px;
    align-items: center;
}

.user-avatar img {
    height: 160px;
    width: 160px;
    border: 8px solid white;
    border-radius: 50%;
}

.member-title-location {
    padding: 0 50px;
}

.candidate-location svg {
    margin-right: 5px;
}


.user-statistics a {
    color: white;
}

.user-details {
    flex: 1;
}

.user-statistics li {
    padding: 0 20px;
    text-align: center;
    display: inline-block;
    text-transform: uppercase;
}

.user-statistics .snumber {
    font-size: 26px;
    font-weight: 400;
    line-height: 24px;
    margin-bottom: 5px;
    font-family: Poppins,Open sans,sans-serif;
}

.user-statistics .sdescription {
    font-size: 11px;
    font-weight: 600;
    line-height: 22px;
    letter-spacing: 1px;
}
