@font-face {
  font-family: 'Jost';
  src: url(assets/fonts/Jost/Jost-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'JOST', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #858585;
  cursor: text;
}

[contenteditable=true]:focus-visible {
  outline: none;
  border:0px
}

.form-control:focus{
  outline:none;
  border:none;
  box-shadow: none;
}

:root {
  --color-primary: #d3a11f;
}