@font-face {
  font-family: 'Jost';
  src: url(assets/fonts/Jost/Jost-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'JOST', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  scroll-margin-top: 80px;
  scroll-snap-stop: 80px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #858585;
  cursor: text;
}

[contenteditable=true]:focus-visible {
  outline: none;
  border:0px
}

.form-control:focus{
  outline:none;
  border:none;
  box-shadow: none;
}

.btn-dark{
  background-color: black;
  color: white;
}

.btn-dark.btn-outline{
  border: 1px solid white;
}

.btn.btn-hover-primary:hover{
  background-color: var(--color-primary);
  color: black;
}

:root {
  --color-primary: #d3a11f;
}


@media (min-width: 576px){
  .container{
    max-width: 650px;
  }
}

@media (min-width: 800px){
  .container{
    max-width: 900px;
  }
}

@media (min-width: 1200px){
  .container{
    max-width: 1240px;
  }
}