@font-face {
  font-family: 'Jost';
  src: url(assets/fonts/Jost/Jost-VariableFont_wght.ttf) format('truetype');
}

body {
  margin: 0;
  font-family: 'JOST', BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  /* scroll-margin-top: 86px; */
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  color: black;
  text-decoration: none;
}

a.link-dark {
  color: black !important;
}

a.link-dark:hover {
  color: var(--color-primary) !important;
}

[contenteditable=true]:empty:before {
  content: attr(placeholder);
  display: block;
  color: #858585;
  cursor: text;
}

[contenteditable=true]:focus-visible {
  outline: none;
  border: 0px
}

.form-control:focus {
  outline: none;
  border: none;
  box-shadow: none;
}

.btn-dark {
  background-color: black;
  color: white;
}

.btn-dark.btn-outline {
  border: 1px solid white;
}

.btn.btn-hover-primary:hover {
  background-color: var(--color-primary) !important;
  color: black !important;
}

.btn-secondary {
  background-color: var(--color-secondary);
  color: black;
  border-color: var(--color-secondary);
}


.btn-gray {
  background-color: var(--color-gray);
  color: white;
  border-color: var(--color-gray);
}


.btn-secondary:hover {
  background-color: #d9d9d9;
  border-color: #d9d9d9;
  color: #000;
}

.ls-3 {
  letter-spacing: 3px;
}

:root {
  --color-primary: #d3a11f;
  --color-secondary: #ededed;
  --color-gray: #777777
}


@media (min-width: 576px) {
  .container {
    max-width: 650px;
  }
}

@media (min-width: 800px) {
  .container {
    max-width: 900px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1240px;
  }
}